<header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <span *ngIf="auth.isLoggedIn() && user">{{user.name}}</span>
        <a *ngIf="auth.isLoggedIn()" routerLink="/add-article" class="text-muted">Add Article</a>
      </div>
      <div class="col-4 text-center">
        <a routerLink="/" class="blog-header-logo text-dark">Angular Course Blog</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a *ngIf="!auth.isLoggedIn()" routerLink="/login" class="text-muted" style="margin-right: 15px;">Login </a>
        <a *ngIf="auth.isLoggedIn()" (click)="logout()" class="btn btn-sm btn-outline-secondary">Log out</a>
        <a *ngIf="!auth.isLoggedIn()" routerLink="/signup" class="btn btn-sm btn-outline-secondary">Sign up</a>
      </div>
    </div>
  </header>
  <div class="nav-scroller py-1 mb-2">
    <nav class="text-center">
      <a *ngFor="let category of categories" class="p-2 text-muted" routerLinkActive="active" [routerLink]="['/category',category._id]" [queryParams]="{page:1}">{{category.name}}</a>
    </nav>
  </div>
