<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong *ngIf="article.category" [routerLink]="['/category', article.category._id]" [queryParams]="{page:1}" class="d-inline-block mb-2 text-primary">{{article.category.name}}</strong>
      <h3 class="mb-0" [routerLink]="['/article',article._id]" >{{article.title}}</h3>
      <div class="mb-1 text-muted">{{ article.date | date: "dd/MM/yyyy"}}</div>
      <p class="card-text mb-auto">{{article.content | summary}}</p>
    </div>
    <div class="col-auto d-none d-lg-block">
      <img src="https://via.placeholder.com/200x250" >
    </div>
</div>