<form [formGroup]="form" (ngSubmit)="login()">
    <div *ngIf="form.errors" class="alert alert-danger">
        Email or password incorrect
    </div>
    <div class="form-group">
        <label>Email</label>
        <input formControlName="email" type="email" class="form-control">
        <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
            <span *ngIf="email.errors.required">Email is required</span>
            <span *ngIf="email.errors.email">Email is not not valid</span>
        </div>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input formControlName="password" type="password" class="form-control">
        <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
            <span>Password is required</span>
        </div>
    </div>
    <button class="btn btn-primary">Login</button>
</form>