
<div class="container">

    
    <app-header></app-header>
    <div *ngIf="alertService.isVisible" class="alert alert-warning">{{alertService.message}}</div>
    <router-outlet></router-outlet>
</div>
  
<app-footer></app-footer>