
<div class="row mb-2" *ngIf="articles.length > 0; else noArticles"><!--[style.backgroundColor]="article.isFavorite? 'red' : 'white'"-->
    <app-article class="col-md-6" *ngFor="let article of articles" [article]="article"></app-article>
</div>

<ng-template #noArticles>
  <div class="row mb-2">
    <p style="font-size: 40px; padding: 50px 15px; text-align: center; width: 100%;">
      No articles added yet
    </p>
  </div>
</ng-template>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li  *ngIf="page>1" class="page-item"><a class="page-link" [routerLink]="['/category',this.category]" [queryParams]="{page:page-1}">prev</a></li>
    <li *ngFor="let page of pages; let i = index" class="page-item"><a class="page-link" [routerLink]="['/category',this.category]" [queryParams]="{page:i+1}">{{i+1}}</a></li>
    <li  *ngIf="page<totalPages" class="page-item"><a class="page-link" [routerLink]="['/category',this.category]" [queryParams]="{page:page+1}">Next</a></li>
  </ul>
</nav>