<form #f="ngForm" (ngSubmit)="submit(f)">
        <div class="form-group">
            <label>Tile</label>
            <input required minlength="5" [ngModel]="article.title" name="title"  #title="ngModel"  type="text" class="form-control">
            <div class="alert alert-danger" *ngIf="title.touched && !title.valid">
                <span *ngIf="title.errors.required">Title is required</span>
                <span *ngIf="title.errors.minlength">Title should be the minimum {{title.errors.minlength.requiredLength}} caracters</span>
            </div>
        </div>
        <div class="form-group">
            <label>Content</label>
            <textarea required [ngModel]="article.content" #content="ngModel" name="content" id="content" cols="30" rows="10" class="form-control"></textarea>
            <div class="alert alert-danger" *ngIf="content.touched && !content.valid">
                <span>Content is required</span>
            </div>
        </div>
        <div class="form-group">
            <label>Category</label>
            <select [ngModel]="article.category._id" name="category" class="form-control">
                <option *ngFor="let category of categories" [value]="category._id" >{{category.name}}</option>
            </select>
        </div>

    <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
</form>
