/* You can add global styles to this file, and also import other style files */
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");
@import url("https://getbootstrap.com/docs/4.4/examples/blog/blog.css");

.form-control.ng-touched.ng-invalid {
    border: 1px solid #bd4855;
}
nav a.active {
    background-color: #007bff;
    color: #fff;
}